<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<title>{{title|raw }}</title>

		{% block stylesheets %}
			{{encore_entry_link_tags('mainblog')}}
		{% endblock %}
		<link rel="stylesheet" href="{{asset('css/blog.css')}}">


	</head>
	<body>  

