<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


<title>{{title|raw }}</title>

		{% block stylesheets %}
			{{encore_entry_link_tags('main')}}
		{% endblock %} 


	</head>
	<body data-spy="scroll" data-target=".navbar" data-offset="60"> 
