{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit ServicesGraphisme{% endblock %}

{% block body %}
    <h1>Edit ServicesGraphisme</h1>

    {{ include('Admin/services_graphisme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_services_graphisme_index') }}">back to list</a>

    {{ include('Admin/services_graphisme/_delete_form.html.twig') }}
{% endblock %}
