{% extends 'base.html.twig' %}

{% block title %}New CommandeLogo{% endblock %}

{% block body %}
    <h1>Create new CommandeLogo</h1>

    {{ include('commande_logo/_form.html.twig') }}

    <a href="{{ path('commande_logo_index') }}">back to list</a>
{% endblock %}
