
.recherche{
        background-color: #7c22f6 !important;
        border: #7c22f6 !important;
    }
.profile{
    background: #F6a722;;
}
.sidebar{
    margin-top: 15vh;
    background: #fff;
    border-radius: 20px;
}
.nav{
    position: relative;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}
.content{
    margin-top:15vh ;
    background: #fff;
    border-radius: 20px; 
    
}
.form-maj{
    margin-top: 45px;
    margin: 45px;
    margin-bottom: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-maj input{ 
    border: none;
    border-bottom: 1px solid #F6a722;
} 
.effet-ombre:focus{
    border-color: none;
    box-shadow:none;
}
.avatar{
    position: absolute;
    top: 10%;
    left: 35%;
}
.avatar img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.votre-profil{ 
    width: 90%; 
    background: #7c22f6 ;
    color: #fff;
}
.sidebar ul li a{
    color: #000;
}
.sidebar ul li .active{
    background: #e5e5e5e5;
    font-weight: 900;
    color: #7c22f6 ;
}
.sidebar ul li :hover{
    background: #e5e5e5e5;
    font-weight: 900;
    color: #7c22f6 ;
}
.footer{
    background:#000 ;
    text-align: center;
    color: #fff;
}
.flex-column li img{
    width: 28px;
    height: 28px;
}
.sous-menu .decon a{
    color: #F6a722 ;
}
.sous-menu .decon a:hover{
    background: red;
    font-weight: 900;
    color: #F6a722 ;
}
