.service {
    margin-top: 55px;
    padding: 80px;
    margin-bottom: 20px;
}

.titre-graph {
    background-color: #ff4b4b;
    width: 50%;
    margin-left: 25%;
    box-shadow: 0px 4px 0px 4px rgba(0, 0, 0, .5);
}

.titre-graph h1 {
    color: #fff;
}

.trait-graph {
    height: 10px;
    background-color: #fff;
}
.text-graph{
    background-color: #fff;
    border-radius: 5px;
}
.text-graph h2 {
    color: black !important;
    font-weight: 800;
    
}

.logo-image-graph img {
    width: 200px;
    height: 150px;
    margin-left: 5%;
    margin-top: 5%;
}