body{
    margin: 0;
    padding: 0;
}
.service-web{
    background: #eee;
    padding: 80px;
    margin-top: 55px;
}
.web{
    border: none;
    opacity: 0.7;
    transition: .5s ease;
    backface-visibility: hidden;
}
.bouton{ 
    position: absolute;
    top: 50%;
    left: 45%; 
} 
.web:hover {
    opacity: 1;
    display: block;
} 