{% extends 'basecommande.html.twig' %}
{% block title %}Affoubenou | commande - logo
{% endblock %}
{% block body %}
	<section class="container-fluid commande-logo">
		<div class="text-commande-logo mb-5">
			<h1>Faite votre choix</h1> 	
		</div> 
        <div class="row">
            <div class="col-md-6">
                <h1>choisir un model</h1>
            </div>
            <div class="col-md-6">
                <h1>Faite votre propre logo</h1>
            </div>
        </div>
	</section>
{% endblock %}
