@import url('https://fonts.googleapis.com/css2?family=Roboto:ital&display=swap');
@import "~bootstrap/scss/bootstrap";

 .navbar{
     box-shadow: 0px 5px 5px #f6a822ad;
 }
.navbar .navbar-collapse{
    text-align: center;
}
.accueil {
    padding: 80px;
    background-color: #f6a722;
}
.navbar-light .navbar-toggler{
    border-style: none; 
} 

.bg-light {
    background-color: #f6a722 !important;
}

.text-menu {
    color: #000 !important;
}

.bouton-commencer-accueil {
    width: 300px;
    margin-top: 60px;
    font-size: 40px;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 100px;
}

.image-arriere-plan {
    background-color: #f6a722;
    position: absolute;
    left: 40%;
}

.bouton-connecter-acceuil-affoubenou {
    background-color: #fff;
    border-radius: 20px;
}

.bouton-inscrire-acceuil-affoubenou {
    background-color: #fff;
    border-radius: 20px;
}

.image-liens:hover,
:focus {
    opacity: 0.8;
}

.bouton-connecter-acceuil-affoubenou:hover {
    background-color: #7c22f6;
    color: #fff;
}

.bouton-inscrire-acceuil-affoubenou:hover {
    background-color: #7c22f6;
    color: #fff;
}

.bouton-commencer-accueil:hover,
:focus {
    background-color: #7c22f6;
    color: #fff;
}


.image-apropos {
    border-radius: 50%;  
    border: 1px solid #000;
    padding: 10px; 
}

.image-service-accueil {
    border-radius: 50%;
    border: 1px solid #000;

}

.bouton-service {
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 40%;
    width: 200px;

} 
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav  .active {
    color: #fff !important;
    border-bottom: 1px solid #fff;
}
.navbar-light .navbar-nav li a{
    font-size: 20px;
}
.navbar-light .navbar-nav.menu-centre li a:hover{
    color: #fff !important;
    border-bottom: 1px solid #fff;
}
.navbar-collapse .menu li a:focus{
border:none;
border-bottom: 1px solid #fff;
}
.trait {
    width: 160px;
    height: 2px;
    background: #f6a722 !important;
    margin: 40px auto;
}

.navbar li a{ 
    color:  #000 !important;
}
.bouton-blog {
    top: 46%;
    position: absolute;
    background-color: #7c22f6;
    border: none;
    width: 200px;
    text-transform: uppercase;
}

.bouton-blog:hover,
:focus {
    background-color: #f6a722;

}

.formulaire-item {
    margin-top: 30px;
    width: 500px;
    height: 50px;
    margin-left: 20%;
}

.message {
    margin-top: 30px;
    margin-left: 20%;
}

.message:hover,
:focus {
    background-color: #fff;
    border: 1px solid #eee;
    color: #000;
} 
.bouton-envoyer-accueil {
    width: 200px;
    font-size: 20px;
    background-color: #7c22f6;
    color: #fff;
    margin-top: 20px;
    margin-left: 40%;
}

.bouton-envoyer-accueil:hover,
:focus {
    background-color: #f6a722;
    color: #fff;
}

.formulaire-item:hover,
:focus {
    border: 1px solid #7c22f6;
}
.blog{
    img{
        transition: transform 0.3s ease-out;
    &:hover{
        transform: scale(1.075);
    }
    }
}
