{% extends 'baseAdmin.html.twig' %}

{% block title %}New CommandeFinale{% endblock %}

{% block body %}
    <h1>Mettre l'image</h1>

    {{ include('Admin/admin_graphisme/logo/commande_finale/_form.html.twig') }}

   <a href="{{ path('admin_commande_logo_index') }}">Retour à la liste</a>
   <img src="{{ vich_uploader_asset(commandeLogo.servicesGraphisme, 'imageFile')|imagine_filter('article_admin')}}" alt="">
{% endblock %}
