{% extends 'baseAdmin.html.twig' %}

{% block title %}New CommandePredefiniePerso{% endblock %}

{% block body %}
    <h1>Create new CommandePredefiniePerso</h1>

    {{ include('Admin/admin_graphisme/logo/commande_predefinie_perso/_form.html.twig') }}

    <a href="{{ path('admin_commande_logo_index') }}">back to list</a>
{% endblock %}
