{% extends 'base.html.twig' %}

{% block title %}Edit BadgesFiligramme{% endblock %}

{% block body %}
    <h1>Edit BadgesFiligramme</h1>

    {{ include('badges_filigramme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('badges_filigramme_index') }}">back to list</a>

    {{ include('badges_filigramme/_delete_form.html.twig') }}
{% endblock %}
