{% extends 'base.html.twig' %}

{% block title %}New BadgesFiligramme{% endblock %}

{% block body %}
    <h1>Create new BadgesFiligramme</h1>

    {{ include('badges_filigramme/_form.html.twig') }}

    <a href="{{ path('badges_filigramme_index') }}">back to list</a>
{% endblock %}
