{% extends 'baseAdmin.html.twig' %}

{% block title %}New CarteVisiteFiligramme{% endblock %}

{% block body %}
    <h1>Create new CarteVisiteFiligramme</h1>

    {{ include('Admin/admin_graphisme/carte_visite/carte_visite_filigramme/_form.html.twig') }}

    <a href="{{ path('admin_carte_visite_index') }}">back to list</a>
{% endblock %}
