{% extends 'baseAdmin.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}
    <h1>Create new Articles</h1>
    <a href="{{ path('admin_articles_index') }}"class="btn btn-primary">Retour à la liste</a> 
    {{ include('Admin/articles/_form.html.twig') }} 
{% endblock %}
