<form method="post" action="{{ path('admin_main_logo_delete', {'id': main_logo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">

    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ main_logo.id) }}">
    <button class="btn">Delete</button>
</form>
