{% extends 'baseAdmin.html.twig' %}

{% block title %}New ServiceWebDemo{% endblock %}

{% block body %}
    <h1>Create new ServiceWebDemo</h1>

    {{ include('Admin/admin_siteWeb/service_web_demo/_form.html.twig') }}

    <a href="{{ path('admin_service_web_demo_index') }}">back to list</a>
{% endblock %}
