<form method="post" action="{{ path('affiche_filigrame_delete', {'id': affiche_filigrame.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ affiche_filigrame.id) }}">
    <button class="btn">Delete</button>
</form>
