{% include ("partials/headerMainblog.html.twig") with {"title": block("title")} %}

<div class="container-fluid">
     {% block body %}{% endblock %} 	
</div> 
{% include ("partials/footerMain.html.twig") %}

