{% include ("partials/headerMainblog.html.twig") with {"title": block("title")} %}

<div class="container-fluid">
     {% block body %}{% endblock %} 	
</div> 
{% include ("partials/footerMainblog.html.twig") %}
{% block javascripts %}
	{{encore_entry_script_tags('app')}}
{% endblock %}</body></html>


