{% include ("partials/Adminheader.html.twig") with {"title": block("title")} %}
{% include ("partials/Adminnavbar.html.twig") %}
<!-- Content Wrapper. Contains page content -->
			<div
				class="content-wrapper">
				<!-- Main content -->
				<section class="content">
					<div
						class="container-fluid">
						<!-- Small boxes (Stat box) -->
						{% block body %}{% endblock %}
					</div>
					<!-- /.container-fluid -->
				</section>
				<!-- /.content -->
			</div>
			{% include ("partials/Adminfooter.html.twig") %}