{% include ("partials/headerMain.html.twig") with {"title": block("title")} %}

<div class="container-fluid">
     {% block body %}{% endblock %} 
{% include ("partials/footerMain.html.twig") %}

</div>  
{% block javascripts %}
	{{encore_entry_script_tags('main')}}
{% endblock %}
</body></html>
