{% extends 'base.html.twig' %}

{% block title %}Edit BadgesFinale{% endblock %}

{% block body %}
    <h1>Edit BadgesFinale</h1>

    {{ include('badges_finale/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('badges_finale_index') }}">back to list</a>

    {{ include('badges_finale/_delete_form.html.twig') }}
{% endblock %}
