{% extends 'base.html.twig' %}

{% block title %}New BadgesFinale{% endblock %}

{% block body %}
    <h1>Create new BadgesFinale</h1>

    {{ include('badges_finale/_form.html.twig') }}

    <a href="{{ path('badges_finale_index') }}">back to list</a>
{% endblock %}
