{% extends 'basecommande.html.twig' %}

{% block title %}New Affiche{% endblock %}

{% block body %}
    
    <section style="background-color: #eee;">
    <div class="container formulaire-affiche-pub">
        <h1 class="text-center pt-5">Prix d'affiche: <span style="color: #f6a722;">5000</span></h1> 
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12 mb-4">
                    <h5 class=" text-center text-muted mt-5 mb-5">Veuillez entrez les détails de votre affiche</h5>
                    {{ form_row(form.info,{'label':false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4"><h5 class="text-muted" style="text-align: right;"> Indiquez le nombre d'affiche</h5></div>
                <div class="col-md-4 mb-4"> 
                    {{ form_row(form.quantite,{'label':false}) }} 
                </div>
                <div class="col-md-4 mb-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4"></div>
                <div class="col-md-4 mb-4 text-center">  
                    <button type="submit" class="btn btn-default bouton-envoyer-affiche" style="width: 200px;background-color: #7c22f6;color: #fff;">Envoyer</button>
                </div>
                <div class="col-md-4 mb-4"></div>
            </div>
        {{ form_end(form) }}
    </div>
</section>  
{% endblock %}
