{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Slogan{% endblock %}

{% block body %}
    <h1>Edit Slogan</h1>

    {{ include('Admin/slogan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_slogan_index') }}">back to list</a>

    {{ include('Admin/slogan/_delete_form.html.twig') }}
{% endblock %}
