<form method="post" action="{{ path('commande_logo_personalise_delete', {'id': commande_logo_personalise.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande_logo_personalise.id) }}">
    <button class="btn">Delete</button>
</form>
