{% extends 'baseAdmin.html.twig' %}

{% block title %}New CommandePredefine{% endblock %}

{% block body %}
    <h1>Vous devrez mettre le filigrame de la commande</h1>
    <a class="btn btn-primary" href="{{ path('admin_commande_logo_index') }}">Retour à la liste</a>
    
    <div class="row">
    <div class="col-md-6">
        <p>Le filigrame doit resembler a l'image ci-dessus</p>
        <img src="{{ vich_uploader_asset(commandeLogo.servicesGraphisme, 'imageFile')|imagine_filter('image_detail_admin')}}" alt="">
    </div>
    <div class="col-md-6">
        {{ include('Admin/admin_graphisme/logo/commande_predefine/_form.html.twig') }}
    </div>
    </div> 
{% endblock %}
