{% extends 'baseAdmin.html.twig' %}

{% block title %}New CategorieWeb{% endblock %}

{% block body %}
    <h1>Create new CategorieWeb</h1>

    {{ include('categorie_web/_form.html.twig') }}

    <a href="{{ path('categorie_web_index') }}">back to list</a>
{% endblock %}
